<ion-view class="miscellaneous-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Explore Muscat</span>
  </ion-nav-title>
  <ion-content >
  <div class="dashboard">
      <div class="row">
      <div class="col1"></div>
      <div class="lcol2"><img src="img/hospital.png" alt="ionic" height="55" width="55" >Hospital</div>
      <div class="lcol3"><img src="img/dollar.png" alt="ionic" height="55" width="55">  &nbspATM&nbsp&nbsp</div>
     
      <div class="lcol4" >  <a href="#/app/miscellaneous/maps"><img src="img/hotel.png" alt="ionic" height="55" width="55">&nbspHotel&nbsp </a></div>
      <div class="col5"></div>
      </div>
     
      <div class="row">
      <div class="col1"></div>
      <div class="col2"><img src="img/places.png" alt="ionic" height="55" width="55" >Places of Interest</div>
      <div class="col3"><img src="img/phone.png" alt="ionic" height="55" width="55">Emergency Calls</div>
      <div class="col4"><img src="img/shopping.png" alt="ionic" height="55" width="55">Shopping Center</div>
      <div class="col5"></div>
      </div>
      <div class="row">
      <div class="col1"></div>
      <div class="col2"><img src="img/medical.png" alt="ionic" height="55" width="55">Medical Shop</div>
      <div class="col3"><img src="img/currency.png" alt="ionic" height="55" width="55">Currency Converter</div>
      <div class="col4"><img src="img/petrol.png" alt="ionic" height="55" width="55"> &nbspPetrol Pump</div>
      <div class="col5"></div>
      </div>
  </div> 



  </ion-content>
</ion-view>
