<ion-view>
 <ion-content scroll="false">
<div id="page">
<ion-header-bar class="bar bar-header bar-dark" style="text-align:center;">
<h1 class="title" style="text-align:center;">Muscat Municipality</h1>

</ion-header-bar>
<div class="item item-body" style="text-align:center;border:0px;background-color:transparent;">
<img class="full-image logo" src="img/logo.png">
</div>
<div id="container1" >
<div class="row responsive-sm">
<div class="col" style="margin-bottom:0px;padding-bottom:0px;font-size:18px;">Enter the PIN recieved in your phone :
</div>
</div>
<div class="row responsive-sm">
<div class="col" style="margin-bottom:0px;padding-bottom:0px; font-size:14px;"><a href="">Resend</a> the PIN.</div>
</div>
<div class="row responsive-sm">
<div class="col">
<label class="item item-input">
<input style="font-size:18px;" type="text" placeholder="Phone Number">
</label>
</div>
</div>
</div>
<div class="row responsive-sm" >
<div class="col" style="text-align:center;">
<button id="submit2" class="button button-positive" ng-click="gotoPage3()">Submit</button>
</div>
</div>
</div>
 </ion-content>
</ion-view>