<ion-view view-title="Parking Ticket" class="title">
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Parking Ticket</span>
  </ion-nav-title>
  <ion-content ng-controller="TicketCtrl" ng-init="init()" scroll="true">
  



   
    <div class="list" >
        <ion-item ng-repeat="entry in entries  | orderBy:'length':false" class="item " ng-click="showPopup({{entry}})" class="list-it">
          <!--  <b>{{entry}}</b><br>-->
          <div class="ticket-list">
            <b>Reservation No: {{entry.title}}</b><br>
            <b>{{entry.parkingdate}} {{entry.starttime}}-{{entry.endtime}}</b><br>
            <span id="hour" class="{{entry.color}}">{{entry.length}} hours</span>
          </div>

          <span ng-bind-html="entry.contentSnippet"></span>
            
         </ion-item>
    </div>
    
  </ion-content>
</ion-view