/* Empty. Add your own CSS if you like */


body
{
	background-image: url('../img/design.png');
	
}

#back3,#back1,#back2,#back4
{
	position: relative;
	float: left;
	margin-bottom:0px;
	margin-left: 5px;
    margin-top: 0px;
    top:1px;



    
}

.logo
{
	width:50%;
	margin-top: 20%;
	position: relative;
	margin-bottom: 10%;
	
}

#container1
{
  position: relative;
  text-align:left;
  width:90%;
  margin-left: 5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin-bottom: 0px;

}

#submit1,#submit2,#submit3,#submit4
{
 position: relative;	
 width: 50%;
 height: 40px;
 margin-top: 0px;
}

#English,#Arabic,#OK,#Later
{
  position: relative;	
 width: 90%;
 height: 40px;
 margin-top: 0px;
}

label
{
	position: relative;
	border-radius: 5px;
	width: 100%;
	margin-top: 0px;
	padding-top:0px;
	margin-bottom: 0px;
}